@keyframes slidein{
    from{
        margin-left:100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width:100%;
    }
}

#Zero {
    position: absolute;
    top: 1690px;
    left: 1800px;
    height: 350px;
    width: 300px;
    background-size: 6000px;
    background-image: url("zerox6.gif");
    background-position: -348px -4100px;
    /* animation:backwards; */
    animation-duration: 3s;
    animation-name: slidein;
    /* border: inset; */
    /* scaleX(-1); */
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#Ken {
    position: absolute;
    top: 1525px;
    left: 1000px;
    height: 500px;
    width: 360px;
    background-size: 4000px;
    background-image: url("kenner.png");
    background-position: -2130px -500px;
    background-repeat:no-repeat
    scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#Zerobars{
    width: 360px;
    height: 20px;
    border: inset;
    border-color: green;
}

#Kenbars{
    top:10px;
    width: 360px;
    height: 20px;
    position:left;
    border: inset;
    border-color: red;
}

#container{
    height: 2000px;
    width: 2890px;
    background-image: url("bringItBack.gif");
    background-repeat: no-repeat;
    background-size: cover; 
}

h1{
    text-align:center;
    color: red;
    font-size:90px;
}

#fightLog{
    display:flex;
    /* justify-content:space-around; */
    /* flex-flow:wrap; */
    border:inset;
    /* height: 300px; */
}

/* #Mumbo{
    animation: fade 0.5s infinite alternate, shrink 0.53s infinte alternate;} */
#Mumbo{
    
    animation-name: Hadoken, fade , shrink ;
    animation-duration: 10s, 0.5s, 0.53s;
    animation-iteration-count: 1, infinite, infinite ;
    animation-direction: normal, alternate, alternate ;
    
    
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    
}

@keyframes Hadoken{
    
    0%  { transform : translateX(-10%) scale(-1) }
    from { transform : translateX(0) scale(-1) } 
    50%  { transform : translateX(-1180%)scale(-1);} 
    60% {display: none;}}
    

    /* 37%  { transform : translateX(-37%) scale(-1)}
    40%  { transform : translateX(-40%) scale(-1)}
    57%  { transform : translateX(-57%)scale(-1) }
    60%  { transform : translateX(-135%) scale(-1)} */
    /* 135%  { display: none; opacity: 0; transform: translateX(-90%) scale(-1)} */
   /* 80%  { transform : translateX(-110%) scale(-1) }
    97%  { transform : translateX(-180%) scale(-1)}   */
    
    /* to   {display: none;}   */
    
    
    /* from {
        transform : scale(1);
        opacity   : 1;
    }
    50% {
        transform : scale(0.75);
        opacity   : 0.25;
    }
    to {
        left: 2000%;
        transform : scale(1);
        opacity   : 1;
    } */


 /*@keyframes fade{
    from { opacity   : 1; }
    to   { opacity   : 0.25; }
}*/

/* @keyframes shrink{
    from { transform : scale(-1); }
    to   { transform : scale(.75); }
}  */


#zerohealth{
    background:green;
    height:100%;
    width: 100%;
}

#kenhealth{
    background:red;
    height:100%;
    width:100%;
}